*
{
    margin: 0;
    padding: 0;
}

html
{
    /* background: #af5dd8; */
    background-image: url('/static/images/bg6.jpeg');
    background-size: cover;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#btn
{
    position: fixed;
    left: 0;
    top: 0;
}