body {
    /* background: #af5dd8; */
    width: auto;
    height: 100vh;
    /* background-image: url('/static/images/bg6.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
    cursor: none;
    /* min-width: 760px; */
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/bg6.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: rgba(141, 173, 209, 0.4); */
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    left: -200px;
    z-index: 1000;
    pointer-events: none;
}

#btn {
    position: fixed;
    left: 0;
    top: 0;
}

#container {
    position: fixed;
    z-index: 10;
    /* left: 10px; */
    width: 100vw;
}

#section-l {
    box-sizing: border-box;

    width: 30vw;
    float: left;

    color: #fcfcfc;
    padding: 20px;
    padding-left: 10px;
}

#section-r {
    box-sizing: border-box;

    width: 30vw;
    float: right;

    color: #fcfcfc;
    padding-top: 30vh;
    padding-right: 20px;
    background-color: transparent;
    pointer-events: all;
}

#marker-group {
    float: left;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    margin-right: 30px;
    margin-top: 30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon .main-color {
    fill: #777777
}

.icon.blue > .main-color {
    fill: #4ea4f7
}

.line {
    width: 30px;
    height: 1.5px;
    /* border-radius: 20%; */
    background-color: #777;
}

#view-toggle {
    float: left;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    margin-top: 30px;
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#view-toggle .icon-group {
    position: relative;
}

#view-toggle .icon-border {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-4px, -4px);
    visibility: hidden;
}
.icon-border > path {
    fill: #4ea4f7;
}


@media screen and (min-width: 760px) and (max-width: 1200px) {
    .webgl {
        position: fixed;
        top: 0;
        left: 20vw;
        outline: none;
        margin: 0;
        padding: 0;
        background-size: cover;
    }

    #container {
        position: fixed;
        z-index: 10;
        width: 100vw;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    #section-l {
        box-sizing: border-box;
        display: block;
    
        width: 40vw;
        height: 50vh;
        float: left;
        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        color: #fcfcfc;
        padding: 20px;
        padding-left: 10px;
    }

    #section-l::-webkit-scrollbar {
        display: none;
    }

    #section-r {
        box-sizing: border-box;
    
        width: 40vw;
        /* float: left; */
    
        padding: 20px;
        color: #fcfcfc;
        background-color: transparent;
        pointer-events: all;

        text-align: right;
    }
}

@media screen and (max-width: 760px) {
    .webgl {
        background-size: cover;
    }
    #section-l {
        visibility: hidden;
    }

    #section-r {
        box-sizing: border-box;
    
        width: 70vw;
        float: right;

        text-align: right;
        color: #fcfcfc;
        font-size: 12px;
        padding-top: 0vh;
        padding-right: 20px;
        background-color: transparent;
        pointer-events: all;
    }

    #control-panel {
        float: right;
    }
}